* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    border-top: 10px solid #000000;
    display: flex;
    height: 120px;
    justify-content: left;
    background-color: #2a0044;
    box-shadow: 0 6px 40px black;
    gap:55px
}







.logo-gengarpedia div{
    padding: 1rem 1rem;

    background-color: #2a0044;
    box-shadow: 0 6px 40px black;
    
    border: 15px solid #2a0044;
    border-bottom-right-radius: 50px;
}



#header-menu{
    display: flex;
    list-style: none;

    background-image: linear-gradient(to right, #462A7A, #3d2863);
    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 6px 40px black;
}
#header-menu li{
    width: 130px;
    height: 130px;
}
#header-menu a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    color: white;
    text-decoration: none;
    font-size: 25px;
}






#op-1{
    border-bottom-left-radius: 20px;
    border-bottom: 10px solid rgb(69, 253, 124, 0.856);

    background-image: url("../imagens/svg/pokemon/svgBulbasauro.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 50px 50px;

    transition: 0.8s;
}
#op-2{
    border-bottom: 10px solid rgb(71, 249, 255, 0.836);

    background-image: url("../imagens/svg/pokemon/svgSquirtle.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 50px 50px;

    transition: 0.8s;
}
#op-3{
    border-bottom: 10px solid rgb(255, 132, 0);

    background-image: url("../imagens/svg/pokemon/svgCharmander.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 50px 50px;

    transition: 0.8s;
}
#op-4{
    border-bottom: 10px solid rgb(238, 255, 0);
    border-bottom-right-radius: 20px;

    background-image: url("../imagens/svg/pokemon/svgPikachu.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 50px 50px;

    transition: 0.8s;
}






#header-menu li:hover #op-1{
    background-color: rgb(69, 253, 124, 0.856);
    box-shadow: 0 2px 20px rgb(69, 253, 124, 0.856);
    
    background-image: url("../imagens/svg/pokemon/svgBulbasauro.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px 60px;

    transition: 0.4s;

}
#header-menu li:hover #op-2{
    background-color: rgb(71, 249, 255, 0.836);
    box-shadow: 0 2px 20px rgb(71, 249, 255, 0.836);

    background-image: url("../imagens/svg/pokemon/svgSquirtle.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px 60px;

    transition: 0.4s;
}
#header-menu li:hover #op-3{
    background-color: rgb(255, 132, 0);
    box-shadow: 0 2px 20px rgb(255, 132, 0);

    background-image: url("../imagens/svg/pokemon/svgCharmander.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px 60px;

    transition: 0.4s;
}
#header-menu li:hover #op-4{
    background-color: rgb(238, 255, 0);
    box-shadow: 0 2px 20px rgb(238, 255, 0);

    background-image: url("../imagens/svg/pokemon/svgPikachu.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px 60px;

    transition: 0.4s;
}
#header-menu li:hover a{
    color: black;
}




#slider{
    position: relative;
}

#slider div{
    position: absolute;

    opacity: 0;
    
    transition: opacity 800ms;
}

#slider div.selected{
    opacity: 1;

    transition: 1s;
}



#gastly-svg{
    padding: 8rem;
    background-color: #2a0044;
    box-shadow: 0 6px 40px black;
    
    background-image: url('../imagens/svg/pokemon/svgGastly.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 250px 250px;

    border-bottom-left-radius: 50px;
}
#haunter-svg{
    padding: 8rem;
    background-color: #2a0044;
    box-shadow: 0 6px 40px black;
    
    background-image: url('../imagens/svg/pokemon/svgHaunter.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 250px 250px;

    border-bottom-left-radius: 50px;
}
#gengar-svg{
    padding: 8rem;
    background-color: #2a0044;
    box-shadow: 0 6px 40px black;
    
    background-image: url('../imagens/svg/pokemon/svgGengar.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 250px 250px;

    border-bottom-left-radius: 50px;
}