.black{
    background-color: black;
}

html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../imagens/purple-pokemon-backgrounds-1.jpg');
}

main{
    padding: 5rem;
    display: grid;
    justify-content: center;
}
