@font-face {
    font-family: 'pokemon';
    src: url('fontes/Pokemon\ Hollow.ttf');
}

main{
    display: grid;
    justify-content: center;
    padding: 3rem;
    gap: 100px;
}
#pokedex{
    padding: 3rem;
    width: 70rem;
    height: 5000px;
    box-shadow: 0 5px 20px #ba57f862;
    background-color: #ba57f863;
    border-radius: 20px;

    transition: 2s;
}
#pokedex:hover{
    width: 70rem;
    box-shadow: 0 5px 20px #ba57f862;
    background-color: #ba57f863;
    border-radius: 20px;
    
    box-shadow: 0 5px 30px #9b48ce;
    background-color: #9b48ce;

    transition: 2s;
}

main h1:hover{
    opacity: 1;

    transition: 2s;
}

main h1{
    text-align: center;
    color: white;
    font-family: 'title';
    font-size: 90px;

    transition: 2s;
}

main h2{
    text-align: center;
    color: white;
    font-family: 'title';
    font-size: 90px;

    transition: 2s;
}

.pokedex-title{
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 6rem;
}

#list-generation{
    width: 1400px;
    display: grid;
    justify-content: center;
}

#list-generation ul{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: rgb(250, 78, 78);
    display: flex;
    list-style: none;
    box-shadow: 0 30px 10px black;
}

#list-generation li{
    width: 120px;
    height: 120px;

    transition: 1s;
}

#list-generation li.left{
    border-top-left-radius: 30px;
}

#list-generation li.right{
    border-top-right-radius: 30px;
}

#list-generation li:hover{
    background-color: rgb(124, 78, 250);
    display: flex;
    list-style: none;
    box-shadow: 0 10px 30px rgb(124, 78, 250);

    transition: 0.1s;
}


#list-generation a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 34px;
}


.generation-title{
    color: wheat;
    font-size: 30px;
    padding: 4rem 0rem;
}





.division-generation{
    padding: 5rem 2rem;
    border-radius: 60px;
    background-color: #9b48ce;
}

.colum{

    background-color: rgba(135, 55, 146, 0.836);
    display: flex;
    justify-content: center;
    list-style: none;

    box-shadow: 0 10px 30px rgb(0, 0, 0);;
}

.colum li{
    width: 192px;
    height: 192px;

    transition: 1s;
}

.colum li:hover{
    background-color: rgb(238, 91, 177);
    box-shadow: 0 10px 30px rgb(238, 91, 177);
    
    transition: 0.1s;
}

.colum a{
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 12px;
    
    background-size: 140px 140px;
    background-repeat: no-repeat;
    background-position: center;
}
